.card {
    align-items: center;
    text-align: center;
}

.signup {
    line-height: 18px;
    font-weight: 300;
    color: #262626;
    size: 14px;
    padding: 10px
}

.gettheapp {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}